* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	padding-bottom: 2rem;
}
header,footer{
	padding: 1rem;
}
header h1 {
	font-size: 1.2rem;
}
header h1,#copyright{
	margin: 0 1rem;
}
#container {
	width: 100%
}

#copy {
	background: #666;
	color: #fff;
	border-radius: 4px;
	position: fixed;
	bottom: .5rem;
	right: .5rem;
	padding: .5rem;
	cursor: pointer;
}

#copy-svg, #copy-span {
	display: inline-block;
	vertical-align: middle;
}

#copy-svg {
	width: 1.6rem;
	height: 1.6rem;
}

textarea {
	height: 50vh;
	width: 100%;
	border: 1px solid #333;
	margin: 0;
}

#md-area {
	background-color: #fffae6;
	padding: .5rem;
}

.box {
	width: 100%;
	padding: 0 .5rem;
}

@media all and (min-width: 769px) {
	#container,header h1,#copyright{
		max-width: 1600px;
		margin: 0 auto;
	}
	.box {
		display: inline-block;
		width: 33%;
		verti